@model ClinicManagementSystem.Models.Appointment

@{
    ViewData["Title"] = "AppointmentDetailsEditOption";
}
<style>
    .card {
        background-color: white;
        margin: 0 auto;
        width: 80%;
        padding: 20px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }

    body {
        background: linear-gradient(to bottom, #66ffff 0%, #ffffff 100%);
    }

    .center {
        text-align: center;
        font-weight: bold;
    }

    .table {
        display: table;
        width: 100%;
    }

    .table-row {
        display: table-row;
    }

    .table-cell {
        display: table-cell;
        padding: 5px;
    }

   

</style>


<div class="card">
    <h4 class="center">Appointment</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="AppointmentDetailsUpdated" asp-controller="Appointments">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                <label asp-for="AppointmentId" class="control-label"></label>
                            </td>
                            <td>
                                <input asp-for="AppointmentId" class="form-control" />
                                <span asp-validation-for="AppointmentId" class="text-danger"></span>
                            </td>
                            <td>
                                <label asp-for="DoctorName" class="control-label"></label>
                            </td>
                            <td>
                                <input asp-for="DoctorName" class="form-control" />
                                <span asp-validation-for="DoctorName" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label asp-for="PatientEmail" class="control-label"></label>
                            </td>
                            <td>
                                <input asp-for="PatientEmail" class="form-control" />
                                <span asp-validation-for="PatientEmail" class="text-danger"></span>
                            </td>
                            <td>
                                <label asp-for="AppointmentDate" class="control-label"></label>
                            </td>
                            <td>
                                <input asp-for="AppointmentDate" class="form-control" />
                                <span asp-validation-for="AppointmentDate" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label asp-for="AppointmentTime" class="control-label"></label>
                            </td>
                            <td>
                                <input asp-for="AppointmentTime" class="form-control" />
                                <span asp-validation-for="AppointmentTime" class="text-danger"></span>
                            </td>
                            <td>
                                <label asp-for="AppointmentStatus" class="control-label"></label>
                            </td>
                            <td>
                                <input asp-for="AppointmentStatus" class="form-control" />
                                <span asp-validation-for="AppointmentStatus" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label asp-for="DiseaseBrief" class="control-label"></label>
                            </td>
                            <td colspan="5">
                                <input asp-for="DiseaseBrief" class="form-control form-control-md" />
                                <span asp-validation-for="DiseaseBrief" class="text-danger"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="form-group text-center">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
