<!DOCTYPE html>
<html>
<head>
    <title>Login Patient</title>

    

</head>
<body>
    @if (!string.IsNullOrEmpty(TempData["SuccessMessage"] as string))
    {
        <script>
            window.onload = function () {
                alert("@TempData["SuccessMessage"]");
            };
        </script>
    }
    <div class="row justify-content-md-center">
        <div class="col-md-5">
            <form action="/Patient/PatientLoginPortal" method="post">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title"><b>Login</b></div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="PatientEmail">Patient Email</label>
                            <input type="email" name="PatientEmail" id="PatientEmail" class="form-control" required />
                            <span class="text-danger"></span>
                        </div>

                        <div class="d-grid gap-2 col-4 mx-auto">
                            <input type="submit" name="Profile" class="btn btn-danger" value="PatientProfile" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
