@model List<ClinicManagementSystem.Models.BookAppointment>

@{
    ViewData["Title"] = "Appointment Details";
}
<head>
    <style>
        .appointment-card {
            background-color: honeydew;
            border: 1px solid #dee2e6;
            margin-bottom: 20px;
        }

        .appointment-item {
            display: grid;
            grid-template-columns: 200px 1fr;
            grid-column-gap: 10px;
            margin-bottom: 10px;
        }

        .appointment-label {
            font-weight: bold;
        }

        .appointment-data {
            word-break: break-all;
        }

    </style>
</head>
<div class="card appointment-card">
    <div class="card-header">
        <h5 class="card-title">Appointment Details</h5>
    </div>
    <div class="card-body">
        @if (Model != null && Model.Count > 0)
        {
            @foreach (var appointment in Model)
            {
                <div class="card">
                    <div class="card-body appointment-item">
                        <div class="appointment-label">Doctor Email:</div>
                        <div class="appointment-data">@appointment.DoctorEmail</div>

                        <div class="appointment-label">Appointment Date:</div>
                        <div class="appointment-data">@appointment.AppointmentDate.ToShortDateString()</div>

                        <div class="appointment-label">Appointment Time:</div>
                        <div class="appointment-data">@appointment.AppointmentTime</div>

                        <div class="appointment-label">Patient Email:</div>
                        <div class="appointment-data">@appointment.PatientEmail</div>
                    </div>
                </div>
            }
        }
        else
        {
            <p>No appointments found.</p>
        }
    </div>
</div>

