@model ClinicManagementSystem.Models.DoctorModel
@{
    ViewData["Title"] = "DoctorRegistration";
}

<div class="container">
    <div class="center justify-content-start" style="margin-left: auto; margin-right: auto;">
        <div class="col-md-6">
            <div class="card  text-white" style="background-color: white;">
                <div class="card-header">
                    <div class="card-title" style="font-weight:bold; font-size:30px; color:black"><b>Doctor Registration</b></div>
                </div>
                <div class="card-body">
                    <form asp-action="DoctorRegistration" asp-controller="DoctorRegistration" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <table class="table table-striped table-bordered">
                            <tr>
                                <td style="background-color: ghostwhite;font-weight:bold;">
                                    <label asp-for="RegistrationNo" class="control-label"></label>
                                </td>
                                <td>
                                    <input asp-for="RegistrationNo" class="form-control" />
                                    <span asp-validation-for="RegistrationNo" class="text-danger"></span>
                                </td>
                            </tr>
                            <tr>
                                <td style="background-color: ghostwhite; font-weight:bold;">
                                    <label asp-for="DoctorFirstName" class="control-label"></label>
                                </td>
                                <td>
                                    <input asp-for="DoctorFirstName" class="form-control" />
                                    <span asp-validation-for="DoctorFirstName" class="text-danger"></span>
                                </td>
                            </tr>
                            <tr>
                                <td style="background-color: ghostwhite;font-weight:bold;">
                                    <label asp-for="DoctorLastName" class="control-label"></label>
                                </td>
                                <td>
                                    <input asp-for="DoctorLastName" class="form-control" />
                                    <span asp-validation-for="DoctorLastName" class="text-danger"></span>
                                </td>
                            </tr>
                            <tr>
                                <td style="background-color: ghostwhite;font-weight:bold;">
                                    <label asp-for="Email" class="control-label"></label>
                                </td>
                                <td>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </td>
                            </tr>
                            <tr>
                                <td style="background-color: ghostwhite;font-weight:bold;">
                                    <label asp-for="Specialities" class="control-label"></label>
                                </td>
                                <td>
                                    <input asp-for="Specialities" class="form-control" />
                                    <span asp-validation-for="Specialities" class="text-danger"></span>
                                </td>
                            </tr>
                            <tr>
                                <td style="background-color: ghostwhite;font-weight:bold;">
                                    <label asp-for="Experience" class="control-label"></label>
                                </td>
                                <td>
                                    <input asp-for="Experience" class="form-control" />
                                    <span asp-validation-for="Experience" class="text-danger"></span>
                                </td>
                            </tr>
                            <tr>
                                <td style="background-color: ghostwhite;font-weight:bold;">
                                    <label asp-for="Education" class="control-label"></label>
                                </td>
                                <td>
                                    <input asp-for="Education" class="form-control" />
                                    <span asp-validation-for="Education" class="text-danger"></span>
                                </td>
                            </tr>
                            <tr>
                                <td style="background-color: ghostwhite;font-weight:bold;">
                                    <label asp-for="Fees" class="control-label"></label>
                                </td>
                                <td>
                                    <input asp-for="Fees" class="form-control" />
                                    <span asp-validation-for="Fees" class="text-danger"></span>
                                </td>
                            </tr>
                        </table>
                        <div class="form-group text-center">
                            <input type="submit" value="Submit" class="btn btn-light" style="width: 300px; background-color:lightgreen" />
                        </div>

                    </form>
                </div>
                
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
