@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color: deepskyblue;"><b>Clinic Management System</b></h1>
    
    <p>&copy; 2023 <a href="https://www.apollohospitals.com/">Explore our Centres of Clinical Excellence</a>.</p>
</div>
