<!DOCTYPE html>
<html>
<head>
    <title>Site Under Maintenance</title>
    <style>
        body {
            background-color: white;
            text-align: center;
            font-family: Arial, sans-serif;
           
        }

        h1 {
            color: #333;
            margin-top: 50px;
        }

        img {
          
            max-width: 50%;
            height: auto;
        }
    </style>
</head>
<body>
    <img src="https://img.freepik.com/free-vector/hand-drawn-construction-background_23-2147734520.jpg?size=626&ext=jpg&ga=GA1.1.667337470.1688706320&semt=ais" alt="Under Maintenance Image">
</body>


</html>
