@model ClinicManagementSystem.Models.UserModel

@{
    ViewData["Title"] = "SignUpUser";
}


<style>
    body {
        background-image: url('https://img.freepik.com/free-photo/flat-lay-health-still-life-arrangement-with-copy-space_23-2148854064.jpg?w=1060&t=st=1688730424~exp=1688731024~hmac=51f5eae56784b9d96ce0f45c55d58c33ff921842a5cc71560c5a128c2c59c8f9https://img.freepik.com/free-vector/modern-medical-background_1035-8989.jpg?w=740&t=st=1688730631~exp=1688731231~hmac=b47f8faecdb57d8fb4959bd9fc87952a00a5a1d5c5c3b2a46439ad214d8a5bbb');
    }

    .card {
        margin: 0 auto;
        margin-top: 50px;
        width: 400px;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        padding: 20px;
    }

    .card-title {
        text-align: center;
    }

    .btn-primary {
        display: block;
        margin: 20px auto 0;
        width: 50%;
        height: 35px;
        background: linear-gradient(to bottom, deepskyblue, white);
       
        padding-top:0px;
        font-size:20px;
        color: black;
        font-weight: bold;
    }


</style>


<div class="card">
    <div class="card-title text-center">
        <img src="https://cdn-icons-png.flaticon.com/512/1256/1256650.png" style="width: 100px; height: 100px;" />
    </div>

         <form asp-action="SignUpUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
        <div class="form-group">
            <label asp-for="UserEmail" class="control-label"></label>
            <input asp-for="UserEmail" class="form-control" />
            <span asp-validation-for="UserEmail" class="text-danger"></span>
        </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

        <div class="form-group">
            <label asp-for="UserType" class="control-label"></label>
            <select asp-for="UserType" class="form-control">
                <option value="">Select User Type</option>
                <option value="Patient">Patient</option>
                <option value="Doctor">Doctor</option>
              
            </select>
            <span asp-validation-for="UserType" class="text-danger"></span>
        </div>
            <div class="form-group">
                <input type="submit" value="Sign Up" class="btn btn-primary" />
            </div>
        </form>
    </div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
