@model ClinicManagementSystem.Models.UserModel

@{
    ViewData["Title"] = "SignUpUser";
}


<style>
   
    body {
        background-image: url('https://img.freepik.com/free-vector/medical-healthcare-blue-color_1017-26807.jpg?w=1060&t=st=1688727612~exp=1688728212~hmac=105f48e0024b044be79bd80c9bf543df638d1f2957926d76337b524b38cc0309');
    }
    .card {
        margin: 0 auto;
        margin-top: 50px;
        width: 400px;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
        box-shadow: 0 2px 5px Grey;
        padding: 20px;

    }

    .card-title {
        text-align: center;
    }

    .btn-primary {
        display: block;
        margin: 20px auto 0;
        width: 50%;
        height: 35px;
        background: linear-gradient(to bottom, deepskyblue, white);
       
        padding-top:0px;
        font-size:20px;
        color: black;
        font-weight: bold;
    }


</style>


<div class="card">
    <div class="card-title text-center">
        <img src="https://cdn-icons-png.flaticon.com/512/1256/1256650.png" style="width: 100px; height: 100px;" />
    </div>

         <form asp-action="SignUpUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
        <div class="form-group">
            <label asp-for="UserEmail" class="control-label"></label>
            <input asp-for="UserEmail" class="form-control" />
            <span asp-validation-for="UserEmail" class="text-danger"></span>
        </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

        <div class="form-group">
            <label asp-for="UserType" class="control-label"></label>
            <select asp-for="UserType" class="form-control">
                <option value="">Select User Type</option>
                <option value="Patient">Patient</option>
                <option value="Doctor">Doctor</option>
              
            </select>
            <span asp-validation-for="UserType" class="text-danger"></span>
        </div>
            <div class="form-group">
                <input type="submit" value="Sign Up" class="btn btn-primary" />
            </div>
        </form>
    </div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
