@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Max Super Speciality Hospital</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ClinicManagementSystem.styles.css" asp-append-version="true" />

   <style>
        .custom-class {
            
            font-size: 16px;
            font-weight: bold;
            color: black;
            padding-top: 5px;
            margin-top: 20px;
           
           
            position: fixed;
            bottom: 3%;
            width: 55%;
            height: 5%;
            left:18%;
           
            
        }
    </style>
  
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light fixed-top ">
     

        <div class="container-fluid">
               @* <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ClinicManagementSystem</a>*@
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><button type="button" class="btn btn-dark">Home</button></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="HealthInformation"><button type="button" class="btn btn-dark">Health Information</button></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Career"><button type="button" class="btn btn-dark">Career</button></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Services"><button type="button" class="btn btn-dark">Our Services</button></a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="AvailableDoctor" asp-action="AvailableDoctorList">
                                <button type="submit" class="btn btn-dark">Book Appointment</button>
                            </a>


                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="LoginUser"><button type="button" class="btn btn-dark">Login</button></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="SignUpUser"><button type="button" class="btn btn-dark">Sign Up</button></a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container" style="padding-top:5%;">
        <main role="main" class="pb-3">
            @RenderBody()

           
           
        </main>
    </div>
    <footer class="border-top footer" style="position: fixed; bottom: 0; width: 100%;  background: linear-gradient(to bottom, #808080 0%, #ffffff 3%);">
        <div class="container d-flex justify-content-between align-items-center h-100">
            <div>
                <a class="btn btn-dark" asp-area="" asp-controller="Home" asp-action="ContactUs">Contact Us</a>
                <a class="btn btn-dark" asp-area="" asp-controller="Home" asp-action="Review">Review </a>
                
            </div>
          
               @* <marquee>
                    In India, from 3 January 2020 to 3:20pm CEST, 14 June 2023, there have been 4,49,92,960 confirmed cases of COVID-19
                    with 5,31,892 deaths, reported to WHO. As of 29 May 2023, a total of 2,20,67,10,296 vaccine doses have been administered.
                    Globally, as of 3:20pm CEST, 14 June 2023, there have been 76,79,84,989 confirmed cases of COVID-19, including 69,43,390 deaths,
                    reported to WHO. As of 12 June 2023, a total of 13,39,73,34,282 vaccine doses have been administered.
                </marquee>
       *@
            <div class="text-center">
                || &copy; @DateTime.Now.Year - Blue Hives Pvt Ltd -
            </div>
        </div>
    </footer>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
