@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ClinicManagementSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ClinicManagementSystem.styles.css" asp-append-version="true" />

   
  
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light navbar-nav-scroll fixed-top" style="background: linear-gradient(to right, #6600cc 0%, #cc99ff 100%); height:7%">
     

        <div class="container-fluid">
               @* <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ClinicManagementSystem</a>*@
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><button type="button" class="btn btn-light btn-sm">Home</button></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="HealthInformation"><button type="button" class="btn btn-light btn-sm">Health Information</button></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Career"><button type="button" class="btn btn-light btn-sm">Career</button></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Services"><button type="button" class="btn btn-light btn-sm">Our Services</button></a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="AvailableDoctorDetails" asp-action="AvailableDoctor">
                                <button type="submit" class="btn btn-light">Book Appointment</button>
                            </a>


                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="LoginUser"><button type="button" class="btn btn-light">Login</button></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SignUpUser"><button type="button" class="btn btn-light">Sign Up</button></a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container" style="padding-top:5%;">
        <main role="main" class="pb-3">
            @RenderBody()

           
           
        </main>
    </div>
    <footer class="border-top footer" style="position: fixed; bottom: 0; width: 100%; height: 10%; background:linear-gradient(to left, #6600cc 0%, #cc99ff 100%);height:7%">
        <div class="container d-flex justify-content-between align-items-center h-100">
            <div>
                <a class="btn btn-light btn-sm" asp-area="" asp-controller="Home" asp-action="ContactUs">Contact Us</a>
                <a class="btn btn-light btn-sm" asp-area="" asp-controller="Home" asp-action="Review">Review</a>
            </div>

            <div class="text-center">
                &copy; @DateTime.Now.Year - ClinicManagementSystem - <a asp-area="" asp-controller="Home" asp-action="Privacy"class="btn btn-light btn-sm">Privacy</a>
            </div>
        </div>
    </footer>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
