@model ClinicManagementSystem.Models.DoctorPortalModel

@{
    ViewBag.Title = "Login Doctor";
}

<div class="row justify-content-md-center">
    <div class="col-md-5">
        <form action="/Doctor/DoctorLoginPortal" method="post">
            <input name="__RequestVerificationToken" type="hidden" value="your_verification_token_here" />

            <div class="card">
                <div class="card-header">
                    <div class="card-title"><b>Login</b></div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="DoctorEmail">Doctor Email</label>
                        <input type="email" name="DoctorEmail" id="DoctorEmail" class="form-control" required />
                        <span class="text-danger"></span>
                    </div>

                    <div class="d-grid gap-2 col-4 mx-auto">
                        <input type="submit" name="Profile" class="btn btn-danger" value="DoctorProfile" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
